.story {
  padding-top: 100px;
  padding-left: 20px;
  height: 100px;
  display: flex;
  justify-content: space-between;
  font-size: 10px;
  width: auto;
  overflow-x: scroll;
}

.story_me :nth-child(1),
.story_dog :nth-child(1),
.story_cat :nth-child(1),
.story_raccoon :nth-child(1),
.story_panda :nth-child(1),
.story_camel :nth-child(1) {
  width: 70px;
  height: 70px;
  border-radius: 35px;
  border: solid 2px red;
  background-color: white;
}

.story_me :nth-child(2),
.story_dog :nth-child(2),
.story_cat :nth-child(2),
.story_raccoon :nth-child(2),
.story_panda :nth-child(2),
.story_camel :nth-child(2) {
  padding-top: 5px;
  text-align: center;
}

.story_me,
.story_dog,
.story_cat,
.story_raccoon,
.story_panda,
.story_camel {
  padding-right: 20px;
}
